{% extends 'base.html' %}
{% load static %}

{% block title %}Compartilhar Link{% endblock %}

{% block content %}
    <div class="container">
        <h2><span>Compartilhar "{{ link.nome }}"</span></h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="{% url 'link_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock %}
